<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<div class="topnav" style="text-align: center;">
  <a class="" href="#!addTree">Plant Tree</a>
  <a href="#!trees">Show Trees</a>
  <a href="#!submiTask">Submit Task</a>
  <a href="#!assignment">Completed Task</a>
  <a href="#!records">Records</a>
  <a href="#!users">Planter Profile</a>
  <a href="#!login">Logout</a>
</div>

<div style="padding-left:16px">
  <h2></h2>
  <p></p>
</div>

</body>
</html>

<h1 style="text-align: center;">Tree Plantation Charity Organization!</span></h1>