<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="NewsPortalEntities" connectionString="metadata=res://*/NewsPortal.csdl|res://*/NewsPortal.ssdl|res://*/NewsPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-U1M0RMC;initial catalog=NewsPortal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="NewsPortalEntities2" connectionString="metadata=res://*/NewsPortal.csdl|res://*/NewsPortal.ssdl|res://*/NewsPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-U1M0RMC;initial catalog=NewsPortal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>